*{
	margin:0;
	padding:0;
	box-size:border-box;
}
body{
	background-color:#00e384;
	postition:reletive;
}
/* outer div */
.product__photo{
	position:absolute;
	left:150px;
	top:100px;
}
.product__photo .photo-container .photo-main{
	background-color:#b7ea51;
	width:250px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	
}
.product__photo .photo-container .photo-main img{
	transform:translateX(-100px)
}
.product__photo .photo-album{
	background-color:#ffffff;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.icon{
	display:flex;
	justify-content:space-between;
}
.product__photo .photo-album ul{
	display:flex;
	list-style:none;
	padding:20px 0;
}
.product__photo .photo-album ul li {
	border:1px solid #d0d0d0;
	margin:0 10px;
}
.product__photo .photo-album ul li img{
	width:40px;
}
/*inner div  */
.product__info{
	background-color:white;
	width:50%;
	text-align:center;
	padding:30px;
	border-radius:10px;
	display:flex;
	flex-direction:column;
}
.product__info .title{
	padding-left:130px;
	text-align:left;
	margin-bottom:40px;
}

.product__info .title h1{
	color:#a0a0a0;
}
.product__info .title span{
	color:#b0b0b0;
	font-size:14px;
}
.product__info .price {
	color:#fe4244;
	margin-bottom:40px;
}
.product__info .price span {
	font-size:35px;
}
.product__info .variant{
	margin-bottom:30px;
}
.product__info .variant h3{
	color:#a4a4a4;
	font-size:14px;
	padding:10px 0;
	padding-left:35px;
}
.product__info .variant ul{
	display:flex;
	list-style:none;
	padding: 10px 0 10px 160px;
}
.product__info .variant ul li img{
	width:35px;
}
.bimage{
	border:1px solid #9d9d9d;
}
.product__info .description{
	text-align:left;
	padding-left:130px;
	margin-bottom:30px;
}
.product__info .description h3{
	font-size:14px;
	color:#a6a6a6;
	padding-bottom:10px;
}
.product__info .description ul{
	padding-left:50px;
}
.product__info .description ul li{
	font-size:10px;
}
.product__info .cart-button button{
	padding:20px;
	margin-left:70px;
	border-radius:8px;
	background-color:#ff3f40;
	border:none;
	color:white;
	width:150px;
}
